<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <%- include('partials/postsHead') %>
    </head>
    <body>
        <%- include('partials/header') %>

        <main class="my_posts">
            <h1>My Posts</h1>
            <section class="container">
                <% if (posts.length) { %> <% posts.forEach(post => { %> <%-
                    include('components/post', { post, isEditable }) %> <% }) %> <%
                } else { %>
                        <p>No posts yet</p>
                    <% } 
                %>
            </section>
            <div class="modal_container">
                <button class="create_post_button">Create Post</button>

                <dialog id="PostDialog">
                    <%- include('components/create_post') %>
                </dialog>
            </div>
        </main>
    </body>
</html>
