<article
    id="<%= post.id %>"
    class="post"
>
    <h2 class="post_title"><%= post.title %></h2>
    <p class="post_content"><%= post.content %></p>

    <p>
        Created at:
        <time datetime="<%= post.createdAt %>"><%= post.createdAt %></time>
    </p>

    <% if (post.isUpdated) { %>
    <p>
        Updated at:
        <time datetime="<%= post.updatedAt %>"><%= post.updatedAt %></time>
    </p>

    <% } %>

    <details class="comments_container">
        <summary>Comments</summary>
        <ul class="comments_list">
            <% if (post.comments && post.comments.length > 0) { %> 
                <%
                    post.comments.forEach(comment => { %> <%- include('comment', {comment }) %> <% }) %> 
                <% } else { %>
                    <li class="comment">No comments yet</li>
                 <% }
            %>
        </ul>

        <% if (canAddComment && isAuth) { %> 
            <%- include('../partials/add_comment_form', { postId: post.id }) %>
        <% } %>
    </details>

    <% if (isEditable) { %> 
        <%- include('../partials/post_edit_actions', { post}) %> 
    <% } %>
</article>
